* {
  box-sizing: border-box;
}

html, body {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root, .app, .layout {
  width: 100%;
  height: 100%;
}

.layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto min-content;
}

.messages {
  display: flex;
  flex-direction: column-reverse;
  padding: 1rem
}

.input {
  padding: 1rem;
  border: none;
  border-top: 1px solid #dfdfdf;
  font-size: 1rem;
  outline: none;
}
